@page
@model WiredBrainCoffeeAdmin.Pages.RoutesModel
@{
    ViewData["Title"] = "Routes";
}

<h2>@ViewData["Title"]</h2>
<h3>Route Debug Info</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Route Template</th>
            <th>Page</th>
            <th>ModelType</th>
            <th>PageType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.Routes) {
            @if (!String.IsNullOrEmpty(route.Template)) {
                <tr>
                    <td>@route.Template</td>
                    <td>@route.Page</td>
                    <td>@route.ModelType.FullName</td>
                    <td>@route.PageType.FullName</td>
                </tr>
            }
        }
    </tbody>
</table>